
<div class="jumbotron">
   <div class="container">
        <h1>Hello, world!</h1>
        <p>This is an Instagram replica </p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'btn btn-primary btn-lg' %>
    </div>
</div>

<div class='container' >

	<% if @all_posts.any? %>
		<div class='row'>
			<%= render @all_posts %>
		</div> 
	<% else %>
  		<Br/><br/>
  			No posts have been made
  		<Br/><br/>  
	<% end %>
	
	<h4>0 comments</h4>

</div>

<div>

	<%= form_for @post, html: { multipart: true } do |f| %>
		
		<%= f.label :picture %>
		<%= f.file_field :picture %>

		<%= f.label :description %> 
		<%= f.text_area :description %>

		<%= f.label :tag_names, 'Tags' %>
		<%= f.text_field :tag_names, data: { role: 'tagsinput' } %>
		
		<%= f.button "Upload", action: "create", class: "btn btn-success"%>

	<% end %>

</div>

